
<li [ngClass]="{'list-group-item': true, 'list-group-item-success': post.loveIts > 0, 'list-group-item-danger': post.loveIts < 0}" >
  <div  style="margin: 8px;">
    <div class="row"  >
        <h4>{{post.title}}</h4> <span  style="font-style: italic; margin-left: auto; margin-right: 0px;">{{post.created_at |  date:"dd/MM/yy, hh:mm a"}}</span>
      </div>
      <div class="row"  >
        <p>
          {{post.content}}
        </p>
      </div>
      <div class="row"  >
        <button style="margin: 2px;" class="btn btn-success" (click)="addLoveIts()">Love it</button>
        <button style="margin: 2px" class="btn btn-danger" (click)="lessLoveIts()"> Don't love it</button>
      </div>
  </div>
</li>



